<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Registration Success</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Cake Added To System!</h2>
    <input type="hidden" th:value="${cake.cakeId}" name="cakeId" />
    <span>Cake name:</span><span th:text="${cake.cakeDetail}"></span><br/>
    <span>Cake Description:</span><span th:text="${cake.description}"></span><br/>
    <span>Price:</span><span th:text="${cake.price}"></span><br/>
</div>
<div>
	<a class="btn btn-info" href="#" th:href="@{/}"> Back to Main Page </a>
</div>
</body>
</html>